header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reserve-btn {
  display: none;
}


@media only screen and (min-width: 768px) {
  .reserve-btn {
    padding: 12px 24px;
    width: 172px;
    height: 45px;
    background: #0B9D58;
    border-radius: 45px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
