footer h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  padding: 57px 5px;
  text-align: center;
}

footer h5 span {
  color: #0B9D58;
}

footer p {
  background: #000;
  padding: 30px 5px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

footer p span {
  font-weight: 300;
  line-height: 160%;
}
