@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: "google_sans";   /*Can be any text*/
  src: local("ProductSans"),
    url("./assets/font/ProductSans-Regular.ttf") format("truetype");
}

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #364f6b;
  background: #fffaec;
}

ul {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 8px 4%;
}

.inner-container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.google-font {
  font-family: 'google_sans';
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 18px 6%;
  }
}
